In [185]:

# import necessary libraries 
import pandas as pd 
import os 
import glob 
import numpy as np  # Assuming you have NumPy for creating the array

  
  
# use glob to get all the csv files  
# in the folder 
path = "/Users/axellemoortgat/Projects/SimulationP2PEnergy/Data" 

csv_file_path1 = path + "/Mavianto.csv"
csv_file_path2 = path + "/AdamBV.csv"
csv_file_path3 = path + "/ec1.csv"

#Engie flow
P2P_price =  np.array([0.131, 0.142, 0.112, 0.1085, 0.086, 0.0975, 0.0885, 0.1045, 0.107, 0.0995, 0.104, 0.1155])
Injection_price = np.array([0.082,0.09,0.068,0.066,0.05,0.058,0.057,0.07,0.072,0.066,0.069,0.078])
  
# Read the CSV files into Pandas DataFrame
columns_to_keep = ['Van Datum', 'Van Tijdstip', 'Tot Datum', 'Tot Tijdstip', 'Register', 'Volume', 'Validatiestatus']
df1 = pd.read_csv(csv_file_path1, sep=';', usecols=columns_to_keep)
df2 = pd.read_csv(csv_file_path2, sep=';', usecols=columns_to_keep)
df3 = pd.read_csv(csv_file_path3, sep=';', usecols=columns_to_keep)

df3['Volume'] = pd.to_numeric(df3['Volume'].str.replace(',', '.'))
df2['Volume'] = pd.to_numeric(df2['Volume'].str.replace(',', '.'))
df1['Volume'] = pd.to_numeric(df1['Volume'].str.replace(',', '.'))
#df3['Volume'] = pd.to_numeric(df3['Volume'], errors='coerce')


df1['Van Datum'] = pd.to_datetime(df1['Van Datum'], format='%d/%m/%Y')
df2['Van Datum'] = pd.to_datetime(df2['Van Datum'], format='%d-%m-%Y')
df3['Van Datum'] = pd.to_datetime(df3['Van Datum'], format='%d-%m-%Y')




# Filter rows in each DataFrame based on the register type
# Nacht data
afname_nacht_df1 = df1[(df1['Register'] == 'Afname Nacht') & (df1['Validatiestatus'] == 'Gevalideerd')]
injectie_nacht_df1 = df1[(df1['Register'] == 'Injectie Nacht') & (df1['Validatiestatus'] == 'Gevalideerd')]
afname_nacht_df2 = df2[(df2['Register'] == 'Afname Nacht') & (df2['Validatiestatus'] == 'Gevalideerd')]
injectie_nacht_df2 = df2[(df2['Register'] == 'Injectie Nacht') & (df2['Validatiestatus'] == 'Gevalideerd')]
afname_nacht_df3 = df3[(df3['Register'] == 'Afname Nacht') & (df3['Validatiestatus'] == 'Gevalideerd')]
injectie_nacht_df3 = df3[(df3['Register'] == 'Injectie Nacht') & (df3['Validatiestatus'] == 'Gevalideerd')]

# Dag data
afname_dag_df1 = df1[(df1['Register'] == 'Afname Dag') & (df1['Validatiestatus'] == 'Gevalideerd')]
injectie_dag_df1 = df1[(df1['Register'] == 'Injectie Dag') & (df1['Validatiestatus'] == 'Gevalideerd')]
afname_dag_df2 = df2[(df2['Register'] == 'Afname Dag') & (df2['Validatiestatus'] == 'Gevalideerd')]
injectie_dag_df2 = df2[(df2['Register'] == 'Injectie Dag') & (df2['Validatiestatus'] == 'Gevalideerd')]
afname_dag_df3 = df3[(df3['Register'] == 'Afname Dag') & (df3['Validatiestatus'] == 'Gevalideerd')]
injectie_dag_df3 = df3[(df3['Register'] == 'Injectie Dag') & (df3['Validatiestatus'] == 'Gevalideerd')]

injectie_df1 = df1[df1['Register'].str.contains('Injectie') & (df1['Validatiestatus'] == 'Gevalideerd')]
df1_injectie_2023 = injectie_df1[injectie_df1['Van Datum'].dt.year == 2023]

afname_df2 = df2[df2['Register'].str.contains('Afname') & (df2['Validatiestatus'] == 'Gevalideerd')]
df2_afname_2023 = afname_df2[afname_df2['Van Datum'].dt.year == 2023]

injectie_df3 = df3[df3['Register'].str.contains('Injectie') & (df3['Validatiestatus'] == 'Gevalideerd')]
df3_injectie_2023 = injectie_df3[injectie_df3['Van Datum'].dt.year == 2023]

print(df1_injectie_2023)

        Van Datum Van Tijdstip   Tot Datum Tot Tijdstip        Register  \
143617 2023-01-01     00:00:00  01/01/2023     00:15:00  Injectie Nacht
143619 2023-01-01     00:15:00  01/01/2023     00:30:00  Injectie Nacht
143621 2023-01-01     00:30:00  01/01/2023     00:45:00  Injectie Nacht
143623 2023-01-01     00:45:00  01/01/2023     01:00:00  Injectie Nacht
143625 2023-01-01     01:00:00  01/01/2023     01:15:00  Injectie Nacht
...           ...          ...         ...          ...             ...
210213 2023-12-13     20:30:00  13/12/2023     20:45:00    Injectie Dag
210215 2023-12-13     20:45:00  13/12/2023     21:00:00    Injectie Dag
210217 2023-12-13     21:00:00  13/12/2023     21:15:00  Injectie Nacht
210219 2023-12-13     21:15:00  13/12/2023     21:30:00  Injectie Nacht
210221 2023-12-13     21:30:00  13/12/2023     21:45:00  Injectie Nacht

        Volume Validatiestatus
143617     0.0     Gevalideerd
143619     0.0     Gevalideerd
143621     0.0     Gevalideerd
143623     0.0     Gevalideerd
143625     0.0     Gevalideerd
...        ...             ...
210213     0.0     Gevalideerd
210215     0.0     Gevalideerd
210217     0.0     Gevalideerd
210219     0.0     Gevalideerd
210221     0.0     Gevalideerd

[33295 rows x 7 columns]

In [159]:
contract_prices = {
            'Engie FLOW variabel': {
                'Injection_price': [0.082, 0.09, 0.068, 0.066, 0.05, 0.058, 0.057, 0.07, 0.072, 0.066, 0.069, 0.078],
            },
            'Engie DIRECT variabel': {
                'Injection_price': [0.06, 0.066, 0.05, 0.049, 0.037, 0.043, 0.035, 0.042, 0.043, 0.04, 0.042, 0.043],
            },
            'Engie EASY variabel': {
                'Injection_price': [0.195, 0.096, 0.08, 0.063, 0.059, 0.049, 0.052, 0.045, 0.052, 0.045, 0.052, 0.052, 0.063, 0.056],
            },
            'Engie EASY vast': {
                'Injection_price': [0.051, 0.051, 0.051, 0.051, 0.051, 0.051, 0.051, 0.051, 0.051, 0.051, 0.051, 0.051],
            },
            'Engie DRIVE vast': {
                'Injection_price': [0.051, 0.051, 0.051, 0.051, 0.051, 0.051, 0.051, 0.051, 0.051, 0.051, 0.051, 0.051],
            },
            'Eneco zon & wind flex': {
                'Injection_price': [0.097, 0.106, 0.081, 0.078, 0.059, 0.069, 0.056, 0.068, 0.07, 0.064, 0.068, 0.068],
            },
            'Eneco zon & wind vast': {
                'Injection_price': [0.097, 0.106, 0.081, 0.078, 0.059, 0.069, 0.056, 0.068, 0.07, 0.064, 0.068, 0.068],
            },
            'Engie Easy pro december 2023': {
                'Substraction_price': [0.419, 0.213, 0.199, 0.167, 0.160, 0.139, 0.146, 0.133, 0.146, 0.147, 0.167, 0.154],
            }, 
            'Engie Easy pro maart 2023': {
                'Substraction_price': [0.419, 0.419, 0.419, 0.173, 0.173, 0.173, 0.154, 0.154, 0.154, 0.170, 0.170,0.170],
            }

        }

In [160]:
injection_price = contract_prices['Engie DIRECT variabel']['Injection_price']
extraction_price = contract_prices['Engie Easy pro december 2023']['Substraction_price']
p2p_price = [(extraction + injection) / 2 for extraction, injection in zip(extraction_price, injection_price)]
print(p2p_price)

[0.2395, 0.1395, 0.1245, 0.10800000000000001, 0.0985, 0.091, 0.0905, 0.08750000000000001, 0.0945, 0.0935, 0.10450000000000001, 0.0985]

In [161]:
# Filter rows based on common timeframe
#common_timeframe = pd.merge(df1[['Van Datum', 'Van Tijdstip']], df2[['Van Datum', 'Van Tijdstip']], on=['Van Datum', 'Van Tijdstip'])
#common_timeframe = common_timeframe.drop_duplicates()
#print(common_timeframe)

#df1 = pd.merge(df1, common_timeframe, on=['Van Datum', 'Van Tijdstip'])
#df2 = pd.merge(df2, common_timeframe, on=['Van Datum', 'Van Tijdstip'])

# In case of 100% rendement: what are savings prosument

In [162]:
#SAVINGS PROSUMENT IF 100% RENDEMENT

df1_injectie_2023['Month'] = df1_injectie_2023['Van Datum'].dt.to_period('M')

# Group by the month and sum the 'Volume'
monthly_sum_df1_2023 = df1_injectie_2023.groupby('Month')['Volume'].sum().reset_index()

monthly_sum_df1_2023['Injection price/kWh'] = Injection_price

monthly_sum_df1_2023['P2P price/kWh'] = p2p_price

monthly_sum_df1_2023['P2P Billing'] = monthly_sum_df1_2023['Volume']*monthly_sum_df1_2023['P2P price/kWh']

monthly_sum_df1_2023['Normal Billing'] = monthly_sum_df1_2023['Volume']*monthly_sum_df1_2023['Injection price/kWh']

monthly_sum_df1_2023['Savings'] = monthly_sum_df1_2023['P2P Billing']-monthly_sum_df1_2023['Normal Billing']

# Print the result
print(monthly_sum_df1_2023)

      Month   Volume  Injection price/kWh  P2P price/kWh  P2P Billing  \
0   2023-01   30.680                0.082         0.2395     7.347860
1   2023-02  115.615                0.090         0.1395    16.128293
2   2023-03  165.933                0.068         0.1245    20.658658
3   2023-04  320.140                0.066         0.1080    34.575120
4   2023-05  291.899                0.050         0.0985    28.752052
5   2023-06  773.805                0.058         0.0910    70.416255
6   2023-07  576.633                0.057         0.0905    52.185287
7   2023-08  421.667                0.070         0.0875    36.895862
8   2023-09  352.604                0.072         0.0945    33.321078
9   2023-10  164.657                0.066         0.0935    15.395430
10  2023-11  105.934                0.069         0.1045    11.070103
11  2023-12   19.693                0.078         0.0985     1.939761

    Normal Billing    Savings
0         2.515760   4.832100
1        10.405350   5.722943
2        11.283444   9.375214
3        21.129240  13.445880
4        14.594950  14.157101
5        44.880690  25.535565
6        32.868081  19.317206
7        29.516690   7.379172
8        25.387488   7.933590
9        10.867362   4.528067
10        7.309446   3.760657
11        1.536054   0.403707

/var/folders/p2/1w8jr4kx7ksbvsyz6j0v4j580000gn/T/ipykernel_83365/485482975.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_injectie_2023['Month'] = df1_injectie_2023['Van Datum'].dt.to_period('M')

In [163]:
total_savings = monthly_sum_df1_2023['Savings'].sum()
print(f'Total Savings: {total_savings}')

Total Savings: 116.39120249999998

# Total injectie.afname in kWh

## For the whole data frame

In [166]:
# TOTAL INJECTIE/AFNAME ALL DATA
total_sum_injectie_df1 = injectie_df1['Volume'].sum()
total_sum_afname_df2 = afname_df2['Volume'].sum()

# Display the total sum
print(f'Total Sum Injectie: {total_sum_injectie_df1}')
print(f'Total Sum Afname: {total_sum_afname_df2}')

Total Sum Injectie: 6528.130999999999
Total Sum Afname: 27992.913999999997

## For 2023 data frame

In [167]:
# TOTAL INJECTIE/AFNAME 2023
total_sum_injectie_df1_2023 = df1_injectie_2023['Volume'].sum()
total_sum_afname_df2_2023 = df2_afname_2023['Volume'].sum()

# Display the total sum
print(f'Total Sum Injectie: {total_sum_injectie_df1_2023}')
print(f'Total Sum Afname: {total_sum_afname_df2_2023}')

Total Sum Injectie: 3339.2600000000007
Total Sum Afname: 21989.651

# Start calculations rendement

In [168]:
# Merge the DataFrames sepperately for day and night
merged_dag_df = pd.merge(afname_dag_df2, injectie_dag_df1, on=['Van Datum', 'Van Tijdstip'])
merged_nacht_df = pd.merge(afname_nacht_df2, injectie_nacht_df1, on=['Van Datum', 'Van Tijdstip'])

merged_dag_df.rename(columns={'Volume_x': 'Afname'}, inplace=True)
merged_dag_df.rename(columns={'Volume_y': 'Injectie'}, inplace=True)
merged_nacht_df.rename(columns={'Volume_x': 'Afname'}, inplace=True)
merged_nacht_df.rename(columns={'Volume_y': 'Injectie'}, inplace=True)



# Create a new column for the subtraction result
merged_dag_df['P2POverschot'] = merged_dag_df['Afname'] - merged_dag_df['Injectie']
merged_nacht_df['P2POverschot'] = merged_nacht_df['Afname'] - merged_nacht_df['Injectie']

In [169]:
#Merged for 2023 day/nbight together
merged_df_2023 = pd.merge(df2_afname_2023, df1_injectie_2023, on=['Van Datum', 'Van Tijdstip'])

merged_df_2023.rename(columns={'Volume_x': 'Afname'}, inplace=True)
merged_df_2023.rename(columns={'Volume_y': 'Injectie'}, inplace=True)


# Create a new column for the subtraction result
merged_df_2023['P2PTransactie'] = merged_df_2023[['Injectie', 'Afname']].min(axis=1)
merged_df_2023['P2POverschot'] = merged_df_2023['Injectie'] - merged_df_2023['P2PTransactie']

In [170]:
# Display rows where P2POverschot is negative for merged_dag_df
negative_rows_2023 = merged_df_2023[merged_df_2023['P2POverschot'] > 0]
print("Rows with negative P2POverschot in Merged DataFrame for Dag:")
print(negative_rows_2023[['Van Datum', 'Van Tijdstip', 'Afname', 'Injectie', 'P2PTransactie', 'P2POverschot']])

# Display rows where P2POverschot is negative for merged_nacht_df
 #negative_nacht = merged_nacht_df[merged_nacht_df['P2POverschot'] < 0]
#print("\nRows with negative P2POverschot in Merged DataFrame for Nacht:")
#print(negative_rows_nacht[['Van Datum', 'Van Tijdstip', 'P2POverschot']])

Rows with negative P2POverschot in Merged DataFrame for Dag:
       Van Datum Van Tijdstip  Afname  Injectie  P2PTransactie  P2POverschot
46    2023-01-01     11:30:00   0.086     0.141          0.086         0.055
48    2023-01-01     12:00:00   0.165     0.166          0.165         0.001
52    2023-01-01     13:00:00   0.102     0.131          0.102         0.029
247   2023-01-03     13:45:00   0.211     0.231          0.211         0.020
624   2023-01-07     12:00:00   0.090     0.261          0.090         0.171
...          ...          ...     ...       ...            ...           ...
32670 2023-12-07     12:30:00   0.195     0.422          0.195         0.227
32671 2023-12-07     12:45:00   0.186     0.298          0.186         0.112
32949 2023-12-10     10:15:00   0.180     0.381          0.180         0.201
32957 2023-12-10     12:15:00   0.172     0.393          0.172         0.221
33241 2023-12-13     11:15:00   0.185     0.347          0.185         0.162

[3965 rows x 6 columns]

In [171]:
#total_not_transfered_nacht = negative_rows_nacht['P2POverschot'].sum()
#total_not_transfered_dag = negative_rows_dag['P2POverschot'].sum()
total_not_transfered_2023 = negative_rows_2023['P2POverschot'].sum()
# Display the total sum
#print(f'Total not transfered nacht: {total_not_transfered_nacht}')
print(f'Total not transfered 2023: {total_not_transfered_2023}')

Total not transfered 2023: 1336.2329999999997

In [172]:
#print(f'Total transfered nacht: {total_sum_injectie_nacht_df1+total_not_transfered_nacht}')
#print(f'Total transfered dag: {total_sum_injectie_dag_df1+total_not_transfered_dag}')
total_transfered_2023 = total_sum_injectie_df1_2023-total_not_transfered_2023
print(f'Total transfered 2023: {total_transfered_2023}')

Total transfered 2023: 2003.027000000001

In [173]:
print(f'Rendement 2023: {total_transfered_2023 /(total_transfered_2023+total_not_transfered_2023)}')

Rendement 2023: 0.5998415816677948

## Berekeningen per maand besparen met rendement ingerekend

In [174]:
#Adding P2P Price and cost as a column
merged_df_2023['P2P Price/kWh'] = merged_df_2023['Van Datum'].dt.month.map(lambda x: p2p_price[x - 1] if x <= len(p2p_price) else None)
merged_df_2023['Extraction Price/kWh'] = merged_df_2023['Van Datum'].dt.month.map(lambda x: extraction_price[x - 1] if x <= len(p2p_price) else None)

merged_df_2023['P2P Billing'] = merged_df_2023['P2PTransactie'] * merged_df_2023['P2P Price/kWh'] 
merged_df_2023['Normal Billing'] = merged_df_2023['P2PTransactie']*merged_df_2023['Extraction Price/kWh']
merged_df_2023['Savings'] = merged_df_2023['Normal Billing'] - merged_df_2023['P2P Billing']

In [175]:
total_P2PBilling_2023 = merged_df_2023['P2P Billing'].sum()
total_P2PSavings_2023 = merged_df_2023['Savings'].sum()
print(f'Total savings 2023: {total_P2PSavings_2023}')

Total savings 2023: 111.64514600000001

In [176]:
# Convert 'Van Datum' to datetime 
merged_df_2023['Van Datum'] = pd.to_datetime(merged_df_2023['Van Datum'])

# Extract the year and month from 'Van Datum'
merged_df_2023['YearMonth'] = merged_df_2023['Van Datum'].dt.to_period('M')

# Group by the new 'YearMonth' column and sum 'P2P Cost'
monthly_P2P_2023 = merged_df_2023.groupby('YearMonth')['Savings'].sum().reset_index()


print(monthly_P2P_2023)

   YearMonth    Savings
0    2023-01   4.071957
1    2023-02   4.845414
2    2023-03   8.278589
3    2023-04  10.884674
4    2023-05  13.054543
5    2023-06  23.729616
6    2023-07   9.865957
7    2023-08  13.615511
8    2023-09  12.929126
9    2023-10   5.933899
10   2023-11   3.794500
11   2023-12   0.641358

# Many to one calculations

In [215]:
manytoone_df_2023 = pd.merge(df1_injectie_2023, df3_injectie_2023, on=['Van Datum', 'Van Tijdstip'])

manytoone_df_2023['totaal_injectie'] = manytoone_df_2023['Volume_x'] + manytoone_df_2023['Volume_y']


#manytoone_df_2023 = manytoone_df_2023.drop(['Injectie_x', 'Injectie_y'], axis=1)

# Het resulterende dataframe met de totale injectie
print(len(manytoone_df_2023))
print(len(df1_injectie_2023))
print(len(df3_injectie_2023))

32054
33295
33791

In [205]:
# TOTAL INJECTIE/AFNAME 2023
total_sum_injectie_df1_df3_2023 = manytoone_df_2023['totaal_injectie'].sum()
total_sum_afname_df2_2023 = df2_afname_2023['Volume'].sum()

# Display the total sum
print(f'Total Sum Injectie: {total_sum_injectie_df1_df3_2023}')
print(f'Total Sum Afname: {total_sum_afname_df2_2023}')

Total Sum Injectie: 7442.86
Total Sum Afname: 21989.651

In [222]:
#Merged for 2023 day/nbight together
merged_df_2023 = pd.merge(df2_afname_2023, manytoone_df_2023, on=['Van Datum', 'Van Tijdstip'])

merged_df_2023.rename(columns={'Volume': 'Afname'}, inplace=True)
merged_df_2023.rename(columns={'totaal_injectie': 'Injectie'}, inplace=True)


# Create a new column for the subtraction result
merged_df_2023['P2PTransactie'] = merged_df_2023[['Injectie', 'Afname']].min(axis=1)
merged_df_2023['P2POverschot'] = merged_df_2023['Injectie'] - merged_df_2023['P2PTransactie']

In [223]:
negative_rows_2023 = merged_df_2023[merged_df_2023['P2POverschot'] > 0]
print("Rows with negative P2POverschot in Merged DataFrame for Dag:")
print(negative_rows_2023[['Van Datum', 'Van Tijdstip', 'Afname', 'Injectie', 'P2PTransactie', 'P2POverschot']])

Rows with negative P2POverschot in Merged DataFrame for Dag:
       Van Datum Van Tijdstip  Afname  Injectie  P2PTransactie  P2POverschot
46    2023-01-01     11:30:00   0.086     0.261          0.086         0.175
47    2023-01-01     11:45:00   0.194     0.333          0.194         0.139
48    2023-01-01     12:00:00   0.165     0.298          0.165         0.133
49    2023-01-01     12:15:00   0.157     0.258          0.157         0.101
52    2023-01-01     13:00:00   0.102     0.270          0.102         0.168
...          ...          ...     ...       ...            ...           ...
31437 2023-12-07     12:30:00   0.195     0.422          0.195         0.227
31438 2023-12-07     12:45:00   0.186     0.298          0.186         0.112
31716 2023-12-10     10:15:00   0.180     0.381          0.180         0.201
31724 2023-12-10     12:15:00   0.172     0.393          0.172         0.221
32008 2023-12-13     11:15:00   0.185     0.348          0.185         0.163

[5381 rows x 6 columns]

In [224]:
total_not_transfered_2023 = negative_rows_2023['P2POverschot'].sum()
# Display the total sum
#print(f'Total not transfered nacht: {total_not_transfered_nacht}')
print(f'Total not transfered 2023: {total_not_transfered_2023}')

Total not transfered 2023: 4254.069

In [225]:
total_transfered_2023 = total_sum_injectie_df1_df3_2023-total_not_transfered_2023
print(f'Total transfered 2023: {total_transfered_2023}')

Total transfered 2023: 3188.7909999999993

In [226]:
print(f'Rendement 2023: {total_transfered_2023 /(total_transfered_2023+total_not_transfered_2023)}')

Rendement 2023: 0.4284362462816712